@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <h1>Cidades Cadastradas</h1>

    @foreach (var city in Model.Cities)
    {
        <div class="border-2 border-info border p-2 mb-1">
            <h2>
                <a asp-page="/CityDetails" asp-route-name="@city.Name">
                    @city.Name <span class="fs-5">- @city.Country.CountryName</span>
                </a>
            </h2>
            <ul class="list-unstyled">
                @foreach (var property in city.Properties)
                {
                    <li>
                        @property.Name - R$ @property.PricePerNight
                    </li>
                }
            </ul>
        </div>
    }
</main>